.App {
  text-align: center;
  background-color:linen;
  height:100vh;
}

.Navbar {
  color:pink;
  background-color:gray;
}

.selector {
background-color:linen;
height:140vh;
}

.selectorForm {
  width:30vw;
  background-color: lavender;
  margin-left:35vw;
  border:solid;
}

.eachPage {
  height:200vh;
  background-color:linen;
}

.dataContainer {
  text-align:left;
  padding-left:10%;
  border: solid 10px;
}

 .day :nth-child(odd){
  border:solid;
}

.day :nth-child(even) {
  border:dotted;
}

.dayContainer :nth-child(odd) {
  color:blue;
  margin-right:500px;
}

.dayContainer :nth-child(even) {
  color:red;
  margin-left:500px;
}