.App {
  text-align: center;
  background-color:linen;
  height:100vh;
}

ul {
list-style-type: none;
color:red;
}

.Navbar {
  color:pink;
  background-color:gray;
}

.selector {
background-color:linen;
height:140vh;
}

.selectorForm {
  width:50vw;
  background-color: lavender;
  margin-left:35vw;
  border:solid;
  text-align:center;
}

.eachPage {
  height:200vh;
  background-color:linen;
}

.dataContainer {
  text-align:left;
  padding-left:10%;
  border: solid 10px;
}
